.widget-stat {
    .media {
        padding: 0px 0;
        align-items: center;
        &>span {
            background: #F5F7FB;
            height: 60px;
            width: 60px;
            border-radius: 50px;
            padding: 10px 12px;
            border: 1px solid #E6E8ED;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $l-ctd;
            ;
        }
        @include custommq($min: 576px) {}
        .media-body {
            p {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                @at-root [data-theme-version="dark"] & {
                    color: #c4c9d5;
                }
            }
            h4 {
                font-size: 24px;
                color: $primary !important;
                display: inline-block;
            }
            span {
                margin-left: 10px;
                border-radius: 30px;
                font-weight: 400;
                font-size: 12px;
                padding: 3px 10px;
                &.badge-success {
                    background: #96FFAD;
                    color: #107125;
                }
                &.badge-danger {
                    background: #FFE1E1;
                    color: #c52424;
                }
            }
        }
    }
}

.widget-trend-meter {
    .card {
        background: #FFE7DB;
        .card-body {
            p {
                color: #f87533;
            }
        }
    }
}

.widget-content {
    h2 {
        color: $primary !important;
    }
}

// 

/*    Widget One
---------------------------*/

.stat-widget-one .stat-icon {
    vertical-align: top;
}

.stat-widget-one .stat-icon i {
    font-size: 30px;
    border-width: 3px;
    border-style: solid;
    border-radius: 100px;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
}

.stat-widget-one .stat-content {
    margin-left: 30px;
    margin-top: 7px;
}

.stat-widget-one .stat-text {
    font-size: 14px;
    color: #868e96;
}

.stat-widget-one .stat-digit {
    font-size: 24px;
    color: #373757;
}

// 
.stat-widget-two {
    text-align: center;
    .stat-digit {
        font-size: 1.75rem;
        font-weight: 500;
        color: #373757;
        i {
            font-size: 18px;
            margin-right: 5px;
        }
    }
    .stat-text {
        font-size: 16px;
        margin-bottom: 5px;
        color: #868e96;
    }
    .progress {
        height: 8px;
        margin-bottom: 0;
        margin-top: 20px;
        box-shadow: none;
    }
    .progress-bar {
        box-shadow: none;
    }
}

.widget-card-circle {
    position: relative;
    display: inline-block;
    i {
        font-size: 30px;
        left: 0;
        line-height: 97px;
        right: 0;
        text-align: center;
        position: absolute;
    }
}

.widget-line-list li {
    display: inline-block;
    font-size: 1.2em;
    line-height: 27px;
    padding: 5px 20px 0 15px;
    span {
        font-size: 14px;
    }
}