//background for nav header
@each $name, $color in $theme_backgrounds {
    [data-nav-headerbg="#{$name}"] {
        @if $name != "color_1"  {
            .nav-header {
                background-color: $color;

                .brand-logo {
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

//background for header 
@each $name, $color in $theme_backgrounds {
    [data-headerbg="#{$name}"] {

        @if $name != "color_1"  {
            .header {
                background-color: $color;
                color: $white;
            }

            .header-left {
                input {
                    border-color: lighten($color: $color, $amount: 10%);
                    background-color: lighten($color: $color, $amount: 10%);
                    color: $white;
                    // border-right-color: transparent;

                    &::placeholder {
                        color: $white;
                    }

                    &:focus {
                        border-color: darken($color: $color, $amount: 10%);
                    }
                }

                .btn {
                    background-color: darken($color: $color, $amount: 10%);
                    border-color: darken($color: $color, $amount: 10%);

                    &:hover, 
                    &:focus, 
                    &:active {
                        background-color: darken($color: $color, $amount: 20%);
                        border-color: darken($color: $color, $amount: 20%);
                    }
                }
            }

            .header-right {
                .dropdown {
                    &>a {
                        color: $white;
                    }
                }
            }

            .nav-control {
                background-color: darken($color: $color, $amount: 10%);
                color: $white;
            }
        }
    }
}

//styles for sidebar
@each $name, $color in $theme_backgrounds {
//:not([data-sidebar-style="modern"])
    [data-sibebarbg="#{$name}"] {
        @if $name != "color_1" {
            .quixnav {
                background-color: $color;

                .metismenu {
                    &>li {
                        &>a {
                            color: darken($color: $white, $amount: 30%);
                        }

                        &:hover, 
                        &:focus, 
                        &.mm-active {
            
                            &>a {
                                background-color: $color;
                                color: $white;
            
                                // &::after {
                                //     border-color: transparent transparent $white transparent;
                                // }
                            }
                        }

                        @at-root [data-layout="horizontal"]#{&} {
                            // &:not(:last-child) {
                                border-color: lighten($color: $color, $amount: 10%);
                            // }
                        }
                    }

                    a {
                        color: darken($color: $white, $amount: 30%);

                        &:hover, 
                        &:focus, 
                        &.mm-active {
                            color: $white;
                        }
                    }

                    ul {
                        background-color: darken($color: $color, $amount: 10%);
                    }

                    // .has-arrow {
                    //     &:after {
                    //         border-color: transparent transparent darken($color: $white, $amount: 30%) transparent;
                    //     }
                    // }
                }
            }
        } 
    }
}

[data-headerbg="transparent"]{
    .header{
        box-shadow: none;
        background: transparent;
    }
}

