

//nav header styles
[direction="rtl"] {

    &:not([data-container="boxed"]) {
        .nav-header {
            left: auto;
            right: 0;
        }
    }

    &[data-container="wide-boxed"] {
        .nav-header {
            left: auto;
            right: 0;
        }
    }

    .nav-header {
        text-align: right;
        right: auto;

        .brand-logo {
            padding-left: 0;
            padding-right: 2.5rem;

            @at-root [data-sidebar-style="compact"]#{&}, 
            [data-sidebar-style="mini"]#{&} {
                padding-right: 0;
            }

            @include media-breakpoint-down(sm) {
                // padding-left: 0;
                padding-right: 0;
                // justify-content: center;
            }
        }
    }

    .nav-control {
        right: auto;
        left: -3.5rem;

        @include media-breakpoint-down(sm) {
            left: -3rem;
        }
    
        @include media-breakpoint-down(xs) {
            left: -2.5rem;
        }
    }

    &[data-sidebar-style="overlay"] {
        .nav-header {
            .hamburger {
                &.is-active {
                    right: 0;

                    .line:nth-child(1) {
                        transform: translateY(0.4rem) rotate(-45deg);
                    }

                    .line:nth-child(3) {
                        transform: translateY(-0.4rem) rotate(45deg);
                    }
                }
            }
        }
    }


}

