// html[dir="rtl"] {

    //content body
    [direction="rtl"] {
        .content-body {
            margin-right: 17.1875rem;
            margin-left: auto;

            .page-titles {
                text-align: right;
            }
        }

        &[data-layout="horizontal"] {
            .content-body {
                margin-right: 0;
            }
        }

        &[data-sidebar-style="mini"]:not([data-layout="horizontal"]) {
            .content-body {
                margin-right: 3.75rem;
            }
        }

        &[data-sidebar-style="compact"]:not([data-layout="horizontal"]) {
            .content-body {
                margin-right: 9.375rem;
            }
        }

        &[data-sidebar-style="overlay"] {
            .content-body {
                margin-right: 0;
            }
        }
    }

// }