

//header styles
[direction="rtl"] {
    .header {
        padding: 0 0.9375rem;
        padding-right: 17.1875rem;

        @include media-breakpoint-down(sm) {
            padding-right: 3.75rem;
            padding-left: 0;
        }

        .header-content {
            padding-left: 0;
            padding-right: 4.375rem;

            @include custommq($max: 575px) {
                padding-right: 2.375rem;
            }
        }

        .nav-control {
            right: 0.4375rem;
            left: auto;
        }
    }

    &[data-layout="horizontal"] {
        .header {
            padding: 0 0.9375rem;
            padding-right: 9.375rem;
        }
    }

    &[data-sidebar-style="mini"] {
        .header {
            padding: 0 0.9375rem;
            padding-right: 3.75rem;
        }
    }

    &[data-sidebar-style="compact"] {
        .header {
            padding: 0 0.9375rem;
            padding-right: 9.375rem;
        }
    }
}

