.popover{
    border-radius: 0;
    border: 2px solid #333333;
    max-width: 210px;

    &-header{
        font-size: 0.75rem;
        background: #333333;
        color: $white;
        border-radius: 0;
        font-weight: 300;

        &::before{
            border-bottom: 0 !important;
        }
    }

    &-body{
        font-size: 0.75rem;
    }
}

.bootstrap-popover-wrapper{
    .bootstrap-popover:not(:last-child){
        margin-right: 8px;
    }

    .bootstrap-popover{
        margin-bottom: .5rem;

        button:hover,button:focus{
            background: $primary;
            color: $white;
            box-shadow: none;
        }
    }
}

// .tooltip {
//     font-size: 15px;
// }


.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
    bottom: 0px;
    border-top-color: #333333;
}

.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
    right: 0px;
    border-left-color: #333333;
}

.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
    left: 0px;
    border-right-color: #333333;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
    top: 0px;
    border-bottom-color: #333333;
}

.note-popover{
    display: none;
}