.nav-pills {
    .nav-link {
    border-radius: 0px;
  }
}

.default-tab{
    .nav-link{
        background: transparent;
        border-radius: 0px;
        font-weight: 500;
    }
}

.custom-tab-1{
    .nav-link{
        background: transparent;
        border-radius: 0px;
        font-weight: 500;
    }
}


