.header-right {
    height: 100%;
    .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        .nav-link {
            color: $l-ctd;
            font-size: 18px;
        }
    }
    &>li {
        &:not(:first-child) {
            padding-left: 0.625rem;
        }
    }
    .notification_dropdown {
        @include respond('phone-land') {
            position: static;
        }
        .nav-link {
            position: relative;
            color: $l-ctd;
            i {
                font-size: 18px;
                font-weight: 700;
            }
            .badge {
                position: absolute;
                font-size: 0.625rem;
                border-radius: 50%;
                right: 0;
                top: 0;
                font-weight: normal;
                height: 17px;
                width: 17px;
                line-height: 6px;
                text-align: center;
                padding: 5px;
            }
        }
        .dropdown-item {
            &:focus,
            &:active {
                a {
                    color: $white;
                }
            }
            a {
                color: $dark;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-menu {
        border-color: $border;
        box-shadow: 0px 0px 10px rgba(120, 130, 140, 0.13);
        @at-root [data-theme-version="dark"] & {
            border-color: $d-border;
            box-shadow: none;
        }
    }
    .header-profile {
        &>a {
            i {
                font-weight: 700;
            }
        }
        .dropdown-menu {
            padding: 15px 0;
            min-width: 12.5rem;
            a {
                &:hover,
                &:focus,
                &.active {
                    color: $primary;
                    background: transparent;
                }
            }
        }
        img {
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
        .dropdown-toggle {
            i {
                font-size: 1.25rem;
            }
            span {
                @include respond('phone') {
                    display: none;
                }
            }
        }
        .profile_title {
            background: $primary;
            color: $white;
            padding: 10px 20px;
            h5 {
                color: $white;
                margin-bottom: 3px;
            }
        }
        // .dropdown-toggle::after{
        //     display: none;
        // }
        .dropdown-item {
            padding: 5px 24px;
        }
    }
}

.notification_dropdown {
    .dropdown-menu-right {
        min-width: 275px;
        padding: 0rem 0 1rem;
        top: 60px;
        .notification_title {
            background: $primary;
            color: $white;
            padding: 10px 20px;
            h5 {
                color: $white;
                margin-bottom: 3px;
            }
        }
        .media {
            border-bottom: 1px solid $border;
            padding: 20px 25px;
            // &:last-child{
            //     border-bottom: 0px;
            // }
            @at-root [data-theme-version="dark"] & {
                border-color: $d-border;
            }
            &>span {
                width: 35px;
                height: 35px;
                border-radius: 50px;
                display: inline-block;
                padding: 7px 9px;
                margin-right: 10px;
                &.success {
                    background: #DEF2DB;
                    color: #2F9B1B;
                }
                &.primary {
                    background: #D3E7FE;
                    color: #176AD2;
                }
                &.danger {
                    background: #FFE0E0;
                    color: #E24747;
                }
            }
            .notify-time {
                width: 100%!important;
                margin-right: 0!important;
                color: $l-ctl;
            }
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 200px;
                margin-bottom: 0;
                margin-top: 5px;
            }
        }
        .all-notification {
            display: block;
            padding: 15px 30px 0;
            // color: $dark;
            text-align: center;
            i {
                margin-left: 10px;
                ;
            }
        }
    }
}