///////////////////////////
// Nav Profile
///////////////////////////
.nav-label {
    margin: 0px 25px 0;
    padding: 1.5625rem 0 10px;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    // border-top: 1px solid $l-border;
    // @at-root [data-theme-version="dark"] & {
    //     border-color: $d-border;
    // }
    // &.first {
    //     border: 0px;
    //     margin-top: 0px;
    // }
}

.nav-badge {
    position: absolute;
    right: 2.8125rem;
    top: 0.625rem;
}

.content-body {
    margin-left: 17.1875rem;
    z-index: 0;
    transition: all .2s ease;
    @include custommq($min: 1200px, $max: 1350px) {
        margin-left: 14.375rem;
    }
}

// 38px + 60px
///////////////
// Sidebar
//////////////
.quixnav {
    width: 17.1875rem;
    padding-bottom: 112px;
    height: 100%;
    position: absolute;
    top: 5rem;
    padding-top: 0;
    z-index: 2;
    background-color: #343957;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: all .2s ease;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    // @include respond('phone-land') {
    //     background-color: $white;
    //     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    // }
    // @include respond('big-desktop') {
    //     left: 6rem;
    // }
    .quixnav-scroll {
        position: relative;
        height: 100%;
        // overflow: visible!important;
        // border-top-left-radius: 5px;
        // border-top-right-radius: 5px;
    }
    @include custommq($min: 1200px, $max: 1350px) {
        width: 14.375rem;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .metismenu {
        display: flex;
        flex-direction: column;
        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
        }
        &>li {
            display: flex;
            flex-direction: column;
            a {
                &>i {
                    //icon will get color from parent "a"
                    font-size: 1.125rem;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 0.4375rem;
                    font-weight: 700;
                    position: relative;
                    top: -2px;
                }
            }
            &>a {
                color: rgba($color: $body-color, $alpha: 1);
            }
            &:hover,
            &:focus,
            &.mm-active {
                &>a {
                    background-color: lighten($color: $primary, $amount: 5%);
                    color: $white;
                    // @include respond('desktop') {
                    //     background-color: $body-bg;
                    // }
                    // &::after {
                    //     border-color: blue;
                    // }
                }
            }
            &.mm-active {
                ul {
                    background-color: $body-bg;
                    ul {
                        background-color: $body-bg;
                    }
                }
            }
        }
        li {
            position: relative;
        }
        //one step dropdown
        ul {
            background-color: darken($color: $primary, $amount: 35%);
            transition: all .2s ease-in-out;
            // @include respond('desktop') {
            //     background-color: $body-bg;
            // }
            a {
                padding-left: 54px;
                font-weight: 300;
                &:hover,
                &:focus,
                &.mm-active {
                    text-decoration: none;
                    color: $white;
                }
                @at-root [direction="rtl"] & {
                    padding-right: 54px;
                }
            }
            //two step dropdown
            ul {
                a {
                    padding-left: 74px;
                }
                //three step dropdown
                ul {
                    a {
                        padding-left: 94px;
                    }
                }
            }
        }
        a {
            position: relative;
            display: block;
            padding: 0.8125rem 1.25rem;
            outline-width: 0;
            color: rgba($color: $body-color, $alpha: 1);
            text-decoration: none;
        }
        .has-arrow {
            &:after {
                width: .35rem;
                height: .35rem;
                right: 1.5625rem;
                top: 48%;
                border-color: inherit;
                -webkit-transform: rotate(-225deg) translateY(-50%);
                transform: rotate(-225deg) translateY(-50%);
            }
        }
        .has-arrow[aria-expanded=true]:after,
        .mm-active>.has-arrow:after {
            -webkit-transform: rotate(-135deg) translateY(-50%);
            transform: rotate(-135deg) translateY(-50%);
        }
    }
}

// .metismenu .mm-active>.has-arrow:after, .metismenu .has-arrow[aria-expanded=true]:after {
//     transform: rotate(45deg) translateY(-50%);
// }
@media (max-width:767px) {
    .nav-header {
        width: 3.75rem;
        .brand-title {
            display: none;
        }
    }
    .footer {
        padding-left: 0;
    }
    .quixnav {
        left: 0;
    }
}