// [data-theme-version="dark"] {
//     .footer {
//         background-color: lighten($d-bg, 3.2%);

//         .copyright {
//             background-color: lighten($d-bg, 3.2%);

//             p {
//                 color: $white;
//             }
//         }
//     }
// }