@import "./page-error";
@import "./page-auth";
@import "./page-pricing";
@import "./page-timeline";

//specific HTML pages scss
@import "./homepage";
@import "./ecom-billing";
@import "./ecom-checkout";
@import "./ecom-customer-details";
@import "./ecom-customers";
@import "./ecom-invoice";
@import "./ecom-order-details";
@import "./ecom-product-detail";
@import "./ecom-product-grid";
@import "./ecom-product-list";
@import "./ecom-product-order";
@import "./ecom-shopping-cart";






