@import "../../abstracts/_mixin";
@import "../../abstracts/_variable";

@include custommq($min: 768px) {

    [data-sidebar-style="mini"] {
        
        .nav-header {
            width: 3.75rem;

            .nav-control {
                z-index: -1;
                .hamburger{
                    left: 3.75rem!important;
                    .line{
                        background-color: $dark!important;;
                    }
                }
            }
            .brand-title {
                display: none;
            }
            .hamburger {
                display: none;
            }
        }

        

        
        .quixnav {
            width: 3.75rem;
            overflow: visible;
            position: absolute;

            .nav-text {
                display: none;
            }

            .slimScrollDiv,
            .quixnav-scroll {
                overflow: visible !important;
            }
            .nav-user{
                padding: 11px;
                .media-body{
                    display: none;
                }
            }

            .metismenu {
                li {

                    a {
                        padding: 0.8125rem 0.9375rem;
                    }

                    &>ul {
                        position: absolute;
                        left: 3.75rem;
                        top: 2.9375rem;
                        width: 11.875rem;
                        z-index: 1001;
                        display: none;
                        padding-left: 1px;
                        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
                        height: auto !important;

                        @at-root [direction="rtl"]:not([data-layout="horizontal"])#{&} {
                            left: auto;
                            right: 3.75rem;
                            box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.15);
                        }
                    }
                }
                &>li {

                    &>a {
                        
                        &.has-arrow {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                .nav-label,
                .nav-badge {
                    display: none;
                }
            }
        }

        .content-body {
            margin-left: 3.75rem;
        }

        .footer {
            padding-left: 3.75rem;
        }


    }

    [data-sidebar-style="mini"][data-layout="vertical"] {
        .quixnav {
            .metismenu {

                li {
                    &:hover>ul {
                        display: block;
                    }
                }

                &>li {

                    &:nth-last-child(-n + 1) {
                        &>ul {
                            bottom: 2.93rem;
                            top: auto;
                            box-shadow: 6px -6px 10px rgba(0, 0, 0, 0.15);

                            @at-root [direction="rtl"]#{&} {
                                box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.15);
                            }
                        }
                    }

                    @include respond('tab-land') {
                        &:nth-last-child(-n + 1) {
                            &>ul {
                                bottom: 2.93rem;
                                top: auto;
                            }
                        }
                    }

                    &>ul {
                        overflow: visible;

                        li:hover {
                            ul {
                                left: 11.8125rem;
                                top: 0;
                            }
                        }
                    }

                    &:hover {


                        &>a {
                            width: 15.625rem;
                            // background: #343a40;
                            .nav-text {
                                display: inline-block;
                                padding-left: 1.6875rem;

                                @at-root [direction="rtl"]#{&} {
                                    padding-left: auto;
                                    padding-right: 1.6875rem;
                                }
                            }
                        }
                        &>ul {
                            height: auto !important;
                            overflow: visible;
                            a {
                                padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
                                margin-left: -1.6px;
                            }
                            ul a {
                                padding: 0.625rem 0.9375rem 0.625rem 3rem;
                                margin-left: -1.6px;
                            }
                        }
                    }
                }
            }
        }
    }

    [data-sidebar-style="mini"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] {
        .header {
            width: 1199px;
        }
    }

}

@include respond('tab-land') {
    [data-sidebar-style="mini"] {
        .quixnav {

            li {
                &.mm-active {
                    ul {
                        height: auto !important;
                    }
                }

                a.has-arrow {
                    &::after {
                        transform: rotate(-45deg) translateY(-50%);
                    }
                }
            }
        }
    }
}