.dropdown-toggle:focus {
    box-shadow: none!important;
  }

  .dropdown-outline{
      border: .1rem solid $primary;
  }

  .dropdown-menu{
      font-size: inherit;

      @at-root [direction="rtl"] #{&} {
          right: auto !important;
      }
  }

////////////////////
// Custom Dropdown
///////////////////

.custom-dropdown{
    display: inline-block;
    margin-bottom: 1rem;

    .dropdown-menu{
        border: 0px;
        min-width: 160px;
        // padding: 1rem;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        border: 1px solid $border;
        .dropdown-item{
            padding: 0.5rem 2rem;
            color: $l-ctl;
            line-height: 22px;

            &:hover{
                background: transparent;
                color: $primary;
            }
        }
    }
}

.card-action{
    .custom-dropdown{
        // padding: 15px;
        margin: 0px;
        background: lighten($primary, 30%);
        &.show,&:focus,&:hover{
            background: $primary;
            color: $white;
        }

        i{
            display: inline-block;
            padding-top: 9px;
        }
    }
}

